<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tela de login</title>
</head>
<body>
<div layout:fragment="content">
    <p th:text="${mensagem}"></p>
    <form id="formLogin" method="post" action="/executaLogin">
        <label for="login">Login</label>
        <input id="login" name="login" type="text">
        <br/>
        <label for="senha">Senha</label>
        <input id="senha" name="senha" type="password">
        <br/>
        <input id="authenticateButton" type="submit" value="Autenticar"/>

    </form>

</div>
</body>
</html>